%%% -*- erlang -*-
%%% vim: set ts=4 sts=4 sw=4 et ft=erlang:

{xref_checks, [undefined_function_calls]}.
{erl_opts, [
    {parse_transform, lager_transform}
]}.

{deps_dir, "deps"}.

{deps, [
    % let it always be the first
    {lager, "2.1.0",
        {git, "git://github.com/basho/lager.git", {tag, "2.1.0"}}},
    {corman, "1.0.*",
        {git, "git://github.com/EchoTeam/corman.git", {branch, "master"}}},
    {dht_ring, "1.0.*",
        {git, "git://github.com/EchoTeam/dht_ring.git", {branch, "master"}}}
]}.

{eunit_compile_opts, [export_all]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
